<app-cabecalho></app-cabecalho>
<div id="login-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 formulario-div">
                <div id="formulario">
                    <h3>Fazer Login</h3>
                    <form action="">
                        <div class="input-box">
                            <input type="text" required="required">
                            <span>E-mail</span>
                        </div>
                        <div class="input-box">
                            <input type="password" required="required">
                            <span>Senha</span>
                        </div>
                        <span class="cadastrar-call">ainda não possui cadastro? <span class="cadastrar-link" style="color: #E87654;"> criar conta </span></span>
                        <input type="button" class="col-md-5 submit-buttom" value="Login">
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>