<div class="teste_header">
    <app-header-curto></app-header-curto>
</div>
<div id="slider">
    <div class="container-fluid">
        <div id="mainSlider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/img/fachada-uem.jpg" class="d-block w-100" alt="projetos de  e-commerce">
                    <div class="carousel-caption d-md-block">
                        <h2>ECI lança edital de disciplinas e intercâmbio virtual para docentes </h2>
                        <p>Tema da proposta deve corresponder aos Objetivos de Desenvolvimento Sustentável; submissões vão até 15 de outubro</p>
                    
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/img/enfermeira-que-mostra-o-coracao-de-plastico_1.jpg" class="d-block w-100" alt="Manuteção de Software">
                    <div class="carousel-caption  d-md-block">
                        <h2>Setembro Verde: sensibilização das doações de órgãos e tecidos</h2>
                        <p>Setembro é marcado por ser o mês da conscientização sobre a importância da doação de órgãos e tecidos para transplantes, conhecido como Setembro Verde. O dia 27 do mês é dedicado ao Dia Nacional de Incentivo à Doação de Órgãos. O Hospital Universitário Regional de Maringá (HUM), da Universidade Estadual de Maringá (UEM)</p>
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/assets/img/CAP_e_Seed.jpeg" class="d-block w-100" alt="Engenharia de Software">
                    <div class="carousel-caption d-md-block">
                        <h2>Reitoria participa de reunião para renovação de convênio entre CAP e Seed</h2>
                        <p>Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p> 
                    </div>
                </div>
            </div>
            
        </div>
</div>
<br>
<div id="noticia-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="main-title"> Notícias </h3>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/img/uem-logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Noticia numero 1</h5>
                        <p class="card-text">Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p>
                        <p class="leia-mais">Leia mais...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/img/uem-logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Noticia numero 1</h5>
                        <p class="card-text">Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p>
                        <p class="leia-mais">Leia mais...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/img/uem-logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Noticia numero 1</h5>
                        <p class="card-text">Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p>
                        <p class="leia-mais">Leia mais...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/img/uem-logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Noticia numero 1</h5>
                        <p class="card-text">Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p>
                        <p class="leia-mais">Leia mais...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/img/uem-logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Noticia numero 1</h5>
                        <p class="card-text">Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p>
                        <p class="leia-mais">Leia mais...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/img/uem-logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Noticia numero 1</h5>
                        <p class="card-text">Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p>
                        <p class="leia-mais">Leia mais...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/img/uem-logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Noticia numero 1</h5>
                        <p class="card-text">Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p>
                        <p class="leia-mais">Leia mais...</p>
                    </div> 
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="/assets/img/uem-logo.png" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Noticia numero 1</h5>
                        <p class="card-text">Ficou encaminhado que mudanças propostas serão discutidas em reunião com o secretário de Educação do Paraná</p>
                        <p class="leia-mais">Leia mais...</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
