
<app-header-curto></app-header-curto>
<div id="cadastrar-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 formulario-div">
                <form>
                    <div class="inputBox">
                      <input type="text" required = "required">
                      <span>first name</span>
                    </div>  
                    <div class="inputBox">
                      <input type="text" required = "required">
                      <span>Second Name</span>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>