<app-header-curto></app-header-curto>
<section>
  <div class="div_pai">
    <div class="div_divisoria">
      <div class="conteudo">
        <div class="sobre-card">
          <h2>Sobre o COMCAP</h2>
          <p>O Complexo de Centrais de Apoio à Pesquisa (COMCAP) está vinculado à Pró-Reitoria de Pesquisa e Pós-Graduação/Diretoria de Pesquisa/Divisão de Centrais de Apoio à Pesquisa, órgão responsável por sua gestão administrativa.</p>
          <a href="" class="teste" >Leia mais...</a>
        </div>
        <div class="sobre-card">
          <h2>Regulamento</h2>
          <a href="">Regulamento do COMCAP</a>
        </div>
        <div class="sobre-card">
          <h2>Coordenadores das Centrais</h2>
          <a href="">Comissão Coordenadora</a>
        </div>
        <div class="sobre-card">
          <h2>Equipamentos Disponíveis</h2>
          <a href="">Relação de equipamentos</a>
        </div>
      </div>

      <div class="divisoria"></div>

      <div class="conteudo">
        <div class="sobre-card">
          <h2>Histórico</h2>
          <p>A UEM obteve a aprovação em 16 chamadas CT-INFRA (1/01, 3/01, 1/04, 1/05, 1/06, 1/07, 1/08, 1/09, 2/10, 1/11, 1/13, 02/14, 03/18, 04/18, PROINFRA 2021 e Carta Convite 01/14) totalizando um montante de R$ 61.162.945,26.</p>
          <a href="">Leia mais...</a>
        </div>
        <div class="sobre-card">
          <h2>Comitê Gestor</h2>
          <a href="">Comitê Gestor</a>
        </div>
        <div class="sobre-card">
          <h2>Formulários</h2>
          <a href="">Autorização para uso de equipamentos</a>
        </div>
      </div>
    </div>
  </div>
</section>

