<app-header-curto></app-header-curto>

<div class="div_pai_sobre_comcap">
  <div class="div-arrow" routerLink="/Sobre">
    <img src="assets/img/arrow_back.svg" alt="">
  </div>
  <h1>Sobre o COMCAP</h1>
  <p>
      O Complexo de Centrais de Apoio à Pesquisa (COMCAP) está vinculado à Pró-Reitoria de Pesquisa e Pós-Graduação, /Diretoria de Pesquisa/ Divisão de Centrais de Apoio à Pesquisa, órgão responsável por sua gestão administrativa.<br>
    O COMCAP é resultado de recursos captados pela UEM junto ao Ministério da Ciência e Tecnologia, por intermédio de editais da Financiadora de Estudos e Projetos (Finep)/Fundo Setorial de Infra-estrutura (CT-INFRA) e também da decisão do Conselho Universitário que aprovou, em 2001, o projeto institucional para concorrer ao edital, com o objetivo de implantar laboratórios multiusuários de P,D&I na Universidade.<br>
    Este Complexo teve sua concepção fundamentada principalmente na racionalização da aquisição e utilização de equipamentos de médio e grande porte, pelos diversos grupos de pesquisa instalados na UEM, e também para incentivar e promover o desenvolvimento de pesquisas multidisciplinares.<br>
    A implantação do COMCAP foi iniciada com a criação da Central de Análises Avançadas de Materiais (CAM), com o objetivo de consolidar as atividades de pesquisa das áreas de Novos Materiais, Tecnologia Agroindustrial e Tecnologia Ambiental.<br>
    A partir do segundo edital da Finep, em 2002, foram implementadas as Centrais de: Biologia Molecular e Estrutural (CBM); de Documentação (CDO) e a de Produtos Naturais (CPN). Os editais subsequentes, 2003 a 2007, proporcionaram a consolidação das centrais existentes e a criação de novas centrais: de Microscopia (CMI); de Agropecuária e Agronegócio (CAA) e de Estudos sobre Mudanças Globais (CMG). Por meio do Edital de 2010 foi aprovada a Central de Tecnologia em Saúde (CTS). A CTS foi proposta como etapa da evolução natural de crescimento dos trabalhos desenvolvidos na CBM e na CPN para alavancar e permitir a evolução da Pesquisa Pré-Clínica Avançada e da Pesquisa Clínica, até então, limitadas pela estrutura física e pela logística experimental, insuficientes para permitir a transposição dos estudos pré-clínicos em clínicos.<br>
    Toda estrutura de equipamentos do COMCAP está disponível aos pesquisadores e pós-graduandos, que poderão fazer os agendamentos com os representantes de cada laboratório/Central.
  </p>
</div>


