<app-header-curto></app-header-curto>
<div id="cadastrar-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 formulario-div">
                <form>
                    <div class="col-md-12 ">
                        <h3 class="main-title zinca" >Criar uma conta do COMCAP</h3>
                      </div>
                    <div class="row">
                      <div class="col-md-3 inputBox">
                        <input type="text" class="form-control" required = "required" >
                        <span>Nome</span>
                      </div>
                      <div class="col-md-3 inputBox">
                        <input type="text" class="form-control" required = "required" >
                        <span>Sobrenome</span>
                      </div>
                      <div class="col-md-8 inputBoxMail">
                        <input type="email" class="form-control" required="required" >
                        <span>E-MAIL</span>
                      </div>
                      
                      <div class="form-group col-md-4">
                        <label for="inputID" >Documento</label>
                        <select id="inputID" class="form-control">
                          <option class="zinca" selected>Escolha o documento...</option>
                          <option>CPF</option>
                          <option>CNPJ</option>
                          <option>RA</option>
                        </select>
                      </div>
                      <div class="col-md-8 inputBoxMail">
                        <input type="text" class="form-control" required = "required" >
                        <span>Documento</span>
                      </div>
                      <div class="col-md-8">
                        <input type="password" class="form-control" placeholder="Senha">
                      </div>
                      <div class="col-md-8">
                        <input type="password" class="form-control" placeholder="Confirme sua senha"> 
                      </div>
                    </div>
                    <input type="button" class="col-md-4 submit-buttom" value="Cadastrar">
                  </form>
            </div>
        </div>
    </div>
</div>