* {
  margin: 0;
  padding: 0;
}


:root{
  --main-greencomcap: #437663;
  --main-greenEscuroComcap: #20443A;
  --main-laranja: #E77654;

}
main{
  overflow-x: hidden;
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
